parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    paths:
        - %currentWorkingDirectory%/src/

